@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background-color: #a14ebf;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-content: center;
}

.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  place-content: space-evenly;
  padding: 6px;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar > ul > li {
  padding: 4px;
}

.navbar > ul > li > a {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.navbar > ul > li > a:hover {
  font-weight: bold;
}

.section-1 {
  width: 100%;
  background-color: #922eb6;
  background-image: url("./assets/balls.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  width: 80%;
  padding: 2em;
}

.balls {
  display: none;
}

.balls2 {
  display: none;
}

.headline > h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
}

.headline > h2 {
  color: #65cdb5;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5em;
}

.icons {
  filter: invert();
  width: 2em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cta-svg {
  height: 4.5em;
}

.cta > h3 {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 0.5em;
}

#cta-anmt {
  animation: 3s bounce ease-in-out infinite;
}

#project-1 > .left-side-text > h1 {
  color: #922eb6;
  font-size: 4em;
  font-weight: 900;
  opacity: 0.3;
}

.left-side-text {
  padding: 2em;
}

.left-side-text > h2 {
  color: #922eb6;
  font-size: 2em;
  font-weight: 900;
  margin-top: -0.6em;
}

.left-side-text > h3 {
  color: #922eb6;
  font-size: 1em;
  font-weight: 500;
  opacity: 0.64;
  margin-top: 0.5em;
}

.left-side-screenshot {
  text-align: center;
  padding-bottom: 1em;
}

.left-side-screenshot > img {
  width: 80%;
  border-radius: 0.5em;
}

.rigth-side-text {
  padding: 2em;
}

.rigth-side-text > h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  margin-top: -0.6em;
}

.rigth-side-text > h3 {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  opacity: 0.64;
  margin-top: 0.5em;
}

.rigth-side-screenshot {
  text-align: center;
  padding-bottom: 1em;
}

.rigth-side-screenshot > img {
  width: 80%;
  border-radius: 0.5em;
}

section#project-2 {
  background-color: #65cdb5;
}

section#project-4 {
  background-color: #922eb6;
}

.technologies {
  background-color: #65cdb5;
  text-align: center;
  padding: 1em;
}

.technologies > h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 900;
  opacity: 0.3;
  overflow-wrap: anywhere;
  text-align: left;
}

.roll {
  margin-top: -3em;
}

.technologie {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.technologie > img {
  width: 6em;
}

.technologies-img {
  width: 100%;
  margin-bottom: 1em;
}

.tech-right-side {
  padding-left: 1em;
  align-items: center;
  justify-content: center;
  width: 15em;
}

.tech-right-side > h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #922eb6;
  text-align: start;
}

.one-item-roll {
  width: 100%;
}

.one-item-roll > h3 {
  width: 100%;
  font-size: 1rem;
  font-weight: 900;
  color: #922eb6;
  background-color: #fff;
  height: 1.5em;
  border-radius: 1em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-items-roll,
.two-items-roll2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.two-items-roll > h3,
.two-items-roll2 > h3 {
  font-size: 1rem;
  font-weight: 900;
  color: #922eb6;
  background-color: #fff;
  height: 1.5em;
  border-radius: 1em;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-items-roll > h3:first-of-type {
  width: 40%;
  margin-right: 5%;
}

.two-items-roll > h3:last-of-type {
  width: 55%;
}

.two-items-roll2 > h3:first-of-type {
  width: 30%;
  margin-right: 5%;
}

.two-items-roll2 > h3:last-of-type {
  width: 65%;
}

.about {
  background-color: #922eb6;
  padding: 2em;
}

.about > h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 900;
  opacity: 0.3;
  overflow-wrap: anywhere;
  text-align: left;
}

.about > h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  overflow-wrap: anywhere;
  text-align: left;
  margin-top: -1em;
  text-indent: 3em;
  margin-bottom: 1.5em;
}

.cv-btn {
  background-color: #fff;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.3rem;
  font-weight: bold;
  color: #922eb6;
  border-radius: 5em;
  text-transform: uppercase;
}

@keyframes bounce {
  0%,
  5%,
  95%,
  100% {
    transform: translateY(0px);
  }
  45%,
  55% {
    transform: translateY(80px);
  }
}
